<li id="bookpost-<%= bookpost.id %>">
  <%= link_to gravatar_for(bookpost.user, size: 50), bookpost.user %>
  <span class="user"><%= link_to bookpost.user.name, bookpost.user %></span>
  <span class="content"><%= bookpost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(bookpost.created_at) %> ago.
    <% if current_user?(bookpost.user) %>
      <%= link_to "delete", bookpost, method: :delete,
                                   data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
